h1{
    margin: 20px 0 0 50px;
}
hr{margin-top: 5px;
    margin-right: 50px;
}

#sign-out{
    font-style: italic;
    color: blue;
    font-size: 25px;
}

#account-info{
    display: flex;
    margin: 10px;
}
@media  screen and (min-width:800px) {
    #account-info{
        margin: 10px 50px;
    }
}

form{
    flex: 1;
    padding: 10px;
}
#personal-info{
	border-radius: 10px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    border: 2px solid rgb(12, 0, 46);
}

#update-pass{
	border-radius: 10px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
    margin-left: 10px;
	align-items: center;
    border: 2px solid rgb(12, 0, 46);
}

#update-pass h1{
    font-size: medium;
    margin: 0px;
}

#update-pass .form-input{
    margin-top: 10px;
}

.form-input{
    border-radius: 5px;
	background-color: #eee;
	border: none;
	padding: 10px;
	width: 100%;
}
.btn-input{
	border-radius: 20px;
    width: 300px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin: 0 auto;
    margin-top: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
 
#cancel:hover, #save:hover, #change:hover{
    background-color: #ff2600;
	border: 1px solid rgb(255, 255, 255);
	cursor: pointer;
}

label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

caption{
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

#userTable{
    border-collapse: collapse;
    margin: 0 auto;
    width: 75%;
}

#userTable th, #userTable td{
    border: 1px solid #ddd;
    padding: 8px;
} 
#userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(12, 0, 46);
    color: white;
}

#userTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#userTable tr:hover{
    background-color: #ddd;
}

#submit-container{
    width: fit-content;
    margin: 0 auto;
}

#approve, #delete{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

#delete{
    margin-left: 10px;
}

#approve:hover{
    background-color: green;
    cursor: pointer;
}

#delete:hover{
    background-color: red;
    cursor: pointer;
}