/* Report Page Styling */

#contact_us_table
{
    padding: 0 18px;
    overflow: hidden;
    width: 800px;
}

#contact_us_table table
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#contact_us_table td, #contact_us_table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

#contact_us_table tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#contact_us_table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF4B2B;
    color: white;
}

#instructor-image{
    width: 75px;
    height: 100px;
    display: flex;
    margin: 10px auto;
}

.checked
{
    color: orange;
}

.tag {
    height: 30px;
    line-height: 30px;
    width: 100px;
    float: left;
    clear: none;
    background-color: rgb(8, 167, 42);
    border-radius: 15px;
  }

