label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.confirm-input {
    margin-top: 10px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.confirm-input:hover {
    background-color: rgb(138, 253, 138);
}

.cancel-input {
    margin-top: 10px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.cancel-input:hover {
    background-color: red;
}

.review-wrap {
    background-color: whitesmoke;
    border: 1px black solid;
    width: 35%;
    height: 80%;
    margin: auto;
    padding: 10px;
}

.btn-wrap {
    text-align: center;
    position:relative;
    margin-top:15%;
}

.title-input {
    resize: none;
    width: 100%;
    height: 10%;
	background: #fff;
    color: black;
    font: inherit;
    border: 0;
    outline: 0;
}

.title-input:focus {
    border: 1px solid black;
}

.content-input {
    resize: none;
    width: 100%;
    height: 40%;
    background: #fff;
    color: black;
    font: inherit;
    border: 0;
    outline: 0;
}

.content-input:focus {
    border: 1px solid black;
}

.seperation {
    padding: 11px 18px;
}

.checked
{
    color: orange;
}
