@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

#Fig1{
    width: 500px;
    margin: 10px auto;
}

#home-image{
    width: 500px;
    height: 300px;
    display: flex;
    margin: 10px auto;
}

#announcement-bar{
    display: flex;
    justify-content: center;
    margin: 10px;
}

h1{
    font-size: 50px;
}

#title{
    overflow: hidden;
    text-overflow: ellipsis; 
}

#title-link {
    white-space: nowrap; 
    width: 50%; 
    padding: 5px;
    border: 2px solid #800020;
}

#bar-title-link{
    border: 2px solid #800020;
    padding: 5px;
    background-color: #800020;
    color: white;
}

h1{
    text-align: center;
}

#summary{
    margin: 10px auto;
    font-size: 20px;
}

.section{
    padding: 20px 0px;
    width: 100vw;
	background-color: #FFFFFF;
}

#aboutUs, #volunteers,#canidate-projects{
    display: block;
    margin: 0 auto;
    width: 75%;
}

#ourGoal, #advisory, #project-management{
    padding: 10px;
    width: 75%;
    margin: 10px auto;
}

#goal-sum{
    margin: 10px;
    font-size: 20px;
}

#project-table, #advisory-table, #volunteer-table, #projectMange-table {
    border-collapse: collapse;
    width: 100%;
}

#project-table td, #project-table th, #advisory-table td,
#advisory-table th, #volunteer-table th, #volunteer-table td,
#projectMange-table th, #projectMange-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#project-table tr:nth-child(even), #advisory-table tr:nth-child(even),
#volunteer-table tr:nth-child(even), #projectMange-table tr:nth-child(even){
    background-color: #f2f2f2;
}

#project-table tr:hover, #advisory-table tr:hover,
#volunteer-table tr:hover, #projectMange-table tr:hover {
    background-color: #ddd;
}

#project-table th, #advisory-table th, #volunteer-table th,
#projectMange-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF4B2B;
    color: white;
}