@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#project_list_contents
{
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    padding: 20px;
}

h1
{
   padding-bottom: 10px;
}

#project_list_table
{
    /* padding: 0 18px; */
    overflow: hidden;
    width: 800px;
}

#project_list_table table
{
    border-collapse: collapse;
    width: 100%;
}

#project_list_table td, #project_list_table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

#project_list_table tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#project_list_table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF4B2B;
    color: white;
}

.checked
{
    color: orange;
}

#tags{
    display: flex;
    justify-content: center;
}

.available_tag
{
    height: 30px;
    line-height: 30px;
    width: 100px;
    float: left;
    clear: none;
    background-color: #08a72a;
    border-radius: 15px;
}

.pending_tag
{
    height: 30px;
    line-height: 30px;
    width: 130px;
    float: left;
    clear: none;
    background-color: #e6be0c;
    border-radius: 15px;
}

.development_tag
{
    height: 30px;
    line-height: 30px;
    width: 170px;
    float: left;
    clear: none;
    background-color: #4c76cf;
    border-radius: 15px;
}

.unavailable_tag
{
    height: 30px;
    line-height: 30px;
    width: 130px;
    float: left;
    clear: none;
    background-color: #9c9c9c;
    border-radius: 15px;
}

#link{
    color: inherit;
}