
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1
{
    padding-bottom: 10px;
}

#review_list_table
{
    overflow: hidden;
    width: 1000px;
}

#review_list_table table
{
    border-collapse: collapse;
    width: 100%;
}

#review_list_table td, #review_list_table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

#review_list_table tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#review_list_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF4B2B;
    color: white;
}

.date_th
{
    border: 1px solid #ddd;
    padding: 8px;
    width: fit-content;
}

.table-wrap{
    background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    padding: 20px;
}

.checked
{
    color: orange;
}

.post-wrap {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    width: 100%;
    text-align: center;
}

.post-review {
    width: 18%;
    border: 1px solid ;
    padding: 5px;
    height: 33px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: whitesmoke;
    color: gray;
}

.post-review:hover {
    width: 18%;
    border: 1px solid ;
    padding: 5px;
    height: 33px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    color: blue;
}

.reset-input {
    margin-top: 10px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FF4B2B;
}




